*{
    margin: 0;
    padding: 0;
}

#gameCanvas{
    border: 2px solid black;
    display: flex;
    margin: 20px auto;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.instructions{
    margin: 50px;
    font-size: 20px;
}